<div class=" pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav header-ul">

                        <!--<li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a target="_self" aria-expanded="false">Music</a></li>

                            </ul>
                        </li>-->
                        <li class="nav-item"><a>Home</a></li>
                        <li class="nav-item"><a>Playlists</a></li>
                        <li class="nav-item"><a>Followers <span class="badge">42</span></a></li>
                        <li class="nav-item"><a>Following <span class="badge">12</span></a></li>
                        <li class="nav-item"><a>Events</a></li>

                        <!--<li class="nav-item"><a
                                style="font-size: 20px"
                                class="fa fa-microphone"
                                disabled="{{!model.recordingFlag}}"
                                ng-click="model.showSpinner()"></a></li>-->

                        <li class="nav-item" >
                            <form>
                                <div>
                            <ng-audio-recorder auto-start="true" id='audioInput' audio-model='model.recordedInput' time-limit="5" on-record-start="model.showSpinner()" on-record-complete="model.recordAndSearch()">
                                <!-- Start controls, exposed via recorder-->
                                <div ng-if="recorder.isAvailable" ng-click="">
                                    <a style="font-size: 20px"
                                       class="fa fa-microphone"
                                       aria-hidden="true"
                                       id='audioInput11'
                                       ng-click="!recorder.status.isRecording && recorder.startRecord()"
                                       ng-disabled="recorder.status.isRecording">
                                    </a>
                                </div>

                                <div ng-if="!recorder.isAvailable">
                                   <!-- <i class="fa fa-microphone-slash" aria-hidden="true"></i>-->
                                </div>

                            </ng-audio-recorder>
                                </div>
                            </form>
                        </li>

                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a target="_self">Edit Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div ng-show="model.success" class="jumbotron">
        <div class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col-xs-12 col-sm-6 recorderAlbumImage">

                    <div class="">
                        <img class="img-rounded" width="200px" height="200px"
                             ng-src="{{model.music.imageUrl || '../../../resources/images/mard.jpg'}} ">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">

                    <div class="row">

                        <div class="col-xs-12" style="margin-top:10px">
                            <a type="button" class="glyphicon glyphicon-heart pull-right like-button">
                            </a>
                            <a type="button" class="glyphicon glyphicon-list-alt pull-right like-button">
                            </a>
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            <h4> Title:</h4>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <h2 style="margin-top: 2px">{{model.music.trackName}}</h2>
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            <h4>Album: </h4>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <h3 style="margin-top: 2px">{{model.music.albumName}}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Artists:</h4>
                        </div>
                        <div class="col-xs-12 col-sm-9" style="margin-top: 2px">
                            <h5 ng-repeat="artist in model.music.artists">
                                {{artist.name}}
                            </h5>
                        </div>
                    </div>
                    <div id="nowPlay">
                        <div id="audio0" style="margin-top: 5px">
                            <audio src="{{model.music.previewURL}}" style="width: 100%;" preload id="audio1" preload controls="controls">Your browser does not support HTML5 Audio!>

                            </audio>

                        </div>

                    </div>
                </div>

                <div class="container" style="padding: 20px;">
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <button type="button" class="btn btn-lg btn-danger btn-block" style="margin-top: 20px"
                        ng-click="model.findLyrics(model.music.trackName, model.music.artists)">
                            Find Lyrics
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-6" >
                        <button type="button" class="btn btn-lg btn-danger btn-block" style="margin-top: 20px">
                            Add to Playlist
                        </button>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container">


        <div class="recorder-div" ng-show="model.recordingFlag">
            <img class="img-responsive" width="200px" height="200px"  style="margin: auto;margin-top: 100px;"
                 ng-src="{{user.imageURL || '../../../resources/images/recorder.gif'}} ">
        </div>

        <div ng-show="model.error" class="alert alert-danger animate-top" role="alert">
            <span data-dismiss="alert" aria-label="close" class="closebtn" ng-click="model.error=null;">&times;</span>
            {{model.error}}
        </div>


        <div ng-bind-html="model.getTrustedHtml(model.lyricsData)"
             class="form-group lyrics-div" ng-show="model.lyricsData"></div>

    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">

    </nav>
</div>