<div class="container-fluid">
    <span ng-show="model.error" style="z-index: 100;color: red;font-size: x-large">
        {{model.error}}
    </span>
    <span ng-show="model.success" style="z-index: 100;color: green;font-size: x-large">
        {{model.success}}
    </span>
    <div class="row">
        <!-- <div class="col-sm-offset-1 col-sm-2">
         </div>-->
        <div class="col-sm-12">
            <form class="form-group" role="form" name="eventForm">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <input ng-change="model.error=null" maxlength="26" type="text" name="eventName" required class="form-control input-lg" ng-model="model.event.eventName"  placeholder="Event Name"/> </div>
                    <div class="col-xs-12 col-md-12">

                        <!--<div ng-model="model.widget.text" id="htmlText" name="htmlText" ng-model="model.widget.text" ng-required="true"
                             text-angular
                             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
                        </div>-->
                        <textarea class="form-control input-lg" ng-model="model.event.description" maxlength="100" rows="3" placeholder="Event Description"></textarea>
                        <!--<input ng-change="model.error=null" type="text" name="lastname" required class="form-control input-lg"  ng-model="model.user.lastName" placeholder="Last Name"/> </div>-->
                 </div>

                     <div class="col-xs-6 col-md-6">
                         <label for="startDate">Start Date</label>
                         <input id="startDate" ng-change="model.error=null"
                                type="datetime-local" name="startDate"
                                required class="form-control input-lg"
                                ng-model="model.event.startDate"/>

                     </div>
                     <div class="col-xs-6 col-md-6">
                         <label for="endDate">End Date</label>
                         <input id = "endDate" ng-change="model.error=null"
                                type="datetime-local" name="endDate" required
                                class="form-control input-lg"
                                ng-model="model.event.endDate"
                                placeholder="End Date"/>
                     </div>
                    <div class="col-xs-12 col-md-12">
                        <input ng-change="model.error=null"
                               type="text" name="venue"
                               required
                               class="form-control input-lg"
                               ng-model="model.event.venue" placeholder="Venue"/>
                    </div>
                </div>
                    <br/>

                <button ng-show="!model.editMode"
                        class="btn btn-lg btn-primary btn-block signup-btn"
                        ng-click="eventForm.$valid && model.createNewEvent()"
                        type="submit">Create Event</button>
                <button ng-show="model.editMode"
                        class="btn btn-lg btn-primary btn-block signup-btn"
                        ng-click="eventForm.$valid && model.updateEvent()"
                        type="submit">Update Event</button>
            </form>
        </div>
    </div>
</div>