.list-group-item:hover {
    background-color: #c9302c;
   // background:rgba(0,0,0,0);
    font-stretch: expanded;
    font-size: large;


}
.list-group-item {
   // background-color: #c9302c;
    background:rgba(0,0,0,0)

}
.list-group-item {

    border-width: thin;
    border-color: #363636;
}
.modal .list-group-item a{

    color: white;
    font-weight: 100;
}

.play-button {
    font-size: 20px;
    color: #5e5e5e;
}
.play-button:hover {
    font-size: 22px;
    color: white;
}
.glyphicon-step-backward:hover {
    font-size: 25px;
    color: #ff9200;
    text-shadow: 0px 0px 10px #fff;
}

.glyphicon-step-forward:hover {
    font-size: 25px;
    color: #ff9200;
    text-shadow: 0px 0px 10px #fff;
}

.glyphicon-step-backward {
    font-size: 22px;

}

.glyphicon-step-forward {
    font-size: 22px;

}

.current-song {
    background-color: #c9302c;
}


.mymusic-ak-playlist-item {
    background:rgba(0,0,0,0.7);
    margin: 0px;
    margin-bottom: 20px;
}

.ak-playlist-button {

    margin-top: 20px;
}
.mymusic-ak-playlist-data {
    padding:20px;
}
@media (max-width: 767px) {
    .ak-playlist-button {

        margin-top: 20px;
    }
    .mymusic-ak-playlist-item {
        background:rgba(0,0,0,0.7);
        margin:-17px;
        margin-bottom: 20px;

    }
    .album-image-thumb {
        max-height: 150px;
    }
    .mymusic-ak-playlist-data {
        padding:10px;
    }
    .ak-album-container {
        margin-top: 30px;
        overflow-y: auto;

    }

    .ak-myplaylist-heading {
        text-align: center;
    }
   /* .ak-createplaylist-button {
        text-align: center;
    }*/

}




@media (min-width: 767px) {
    .ak-createplaylist-button {
        width:50%;
        float: right;
    }

}
.ak-album-container {
    margin-top: 30px;
    overflow-y: auto;
    max-height: 450px
}
