.list-group-item:hover {
    background-color: #c9302c;
   // background:rgba(0,0,0,0);
    font-stretch: expanded;
    font-size: large;


}
.list-group-item {
   // background-color: #c9302c;
    background:rgba(0,0,0,0)

}
.list-group-item {

    border-width: thin;
    border-color: #363636;
}
.modal .list-group-item a{

    color: white;
    font-weight: 100;
}

.play-button {
    font-size: 20px;
    color: #5e5e5e;
}
.play-button:hover {
    font-size: 22px;
    color: #ff9200;
}
.glyphicon-step-backward:hover {
    font-size: 25px;
    color: #ff9200;
}

.glyphicon-step-forward:hover {
    font-size: 25px;
    color: #ff9200;
}

.glyphicon-step-backward {
    font-size: 22px;

}

.glyphicon-step-forward {
    font-size: 22px;

}

.current-song {
    background-color: #ff9200;
}
