.pageBackground {

    background: url('../resources/images/night_background.jpg');
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
   // margin-top: 50px;
    color: #ffffff;
}
a,li
a label {
    cursor: pointer;
    cursor: hand;
}
glyphicon {
    cursor: pointer;
    cursor: hand;
}
.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}