<div class="pageBackground">
    <div style="background-color: black; background:rgba(0,0,0,0.6);margin-top: 50px;" class="container">

        <div class="row">
            <div class="pull-left col-xs-12">
                <h1> My Playlists </h1>
            </div>

        </div>

        <hr size="30">
        <!-- List -->
        <div >
            <ul class="list-group" style="overflow-y: auto;height: 250px">
                <li ng-repeat="playlist in model.playlists" class="list-group-item">

                    <div class="row">
                        <div class="pull-left col-xs-2">
                            <a ng-click="model.openPlaylist(playlist._id)" class="glyphicon glyphicon-play-circle play-button"></a>
                            <!--   <span>{{$index+1}}</span>-->

                        </div>
                        <div class="col-xs-6">{{playlist.name}} </div>


                    </div>
                </li>
            </ul>
        </div>


    </div>
</div>