<div class="pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand glorify">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse ">

                    <ul class="nav navbar-nav header-ul">
                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li ng-click="model.error=null;"><a style="color: white;" data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a style="color: white;" target="_self" aria-expanded="false">Music</a></li>

                            </ul>
                        </li>
                        <li class="nav-item"><a href="#/user/userHomePage/{{model.userId}}">Home</a></li>
                        <li class="nav-item glorifyExtra"><a href="#/music/myplaylists/{{model.userId}}">Playlists</a></li>
                        <li class="nav-item"><a href="#/user/followers/{{model.userId}}">Followers <span class="badge">{{model.followers}}</span></a></li>
                        <li class="nav-item"><a href="#/user/following/{{model.userId}}">Following <span class="badge">{{model.following}}</span></a></li>
                        <li class="nav-item"><a href="#/events/upcomingEvents/{{model.userId}}">Events</a></li>
                        <li class="nav-item"><a style="font-size: 20px" href="#/music/recordAndSearch/{{model.userId}}" class="fa fa-microphone"></a></li>

                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a style="color: white;" href="#/user/editProfile/{{model.userId}}">Edit Profile</a></li>
                                <li><a style="color: white;" data-toggle="modal" target="_self" aria-expanded="false" data-target="#inviteModal">Send Invite</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color: white;" target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container black-container">

        <div class="row">
            <div class="pull-left col-xs-12 col-sm-6">
                <h1 class="ak-myplaylist-heading glorifyExtra"> <span class="redify">My</span> Playlists </h1>
            </div>
            <div class="col-xs-12 col-sm-6 ak-createplaylist-button-div" style="padding: 20px">
                <button class="pull-right btn btn-lg btn-danger btn-block ak-createplaylist-button" data-toggle="modal" data-target="#myModal"
                        type="button">
                    Create Playlist
                </button>
            </div>
        </div>
        <hr size="30">
        <!-- List -->
        <div>
            <ul class="list-group" style="overflow-y: auto;max-height: 350px">
                <li ng-repeat="playlist in model.playLists" class="list-group-item">
                    <div class="row">
                        <div class="pull-left col-xs-2">
                            <a ng-click="model.openPlaylist(playlist._id)" class="glyphicon glyphicon-play-circle play-button"></a>
                            <!--   <span>{{$index+1}}</span>-->
                        </div>
                        <div class="col-xs-8"><a style="color: white" ng-click="model.openPlaylist(playlist._id)">{{playlist.playListName}} </a></div>
                        <div class="col-xs-2">
                            <a ng-show="model.favorite !== playlist._id" data-toggle="modal" data-target="#myModalDelete" ng-click="model.selectPlaylist(playlist)" class="pull-right glyphicon glyphicon-remove"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!-- modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearDataFromModal()">&times;</button>
                    <h4 class="modal-title">Create playlist</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/playlists/templates/newPlayListCreateModal.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>
    <div id="myModalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Delete Event</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/playlists/templates/delete.Playlist.template.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>
    <div id="profileSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Search Users/Artists</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/searchUser.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <div id="inviteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Invite your friends</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/invitation.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

    </nav>
</div>