<div class="pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav pull-right  visible-sm visible-md visible-lg">

                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a target="_self" aria-expanded="false">Music</a></li>

                            </ul>
                        </li>
                        <li class="nav-item"><a>Home</a></li>
                        <li class="nav-item"><a>Playlists</a></li>
                        <li class="nav-item"><a href="#/user/followers/{{model.userId}}">Followers <span class="badge">{{model.followers}}</span></a></li>
                        <li class="nav-item"><a href="#/user/following/{{model.userId}}">Following <span class="badge">{{model.following}}</span></a></li>
                        <li class="nav-item"><a>Events</a></li>

                        <li class="nav-item"><a style="font-size: 20px" href="#/music/recordAndSearch/{{model.userId}}" class="fa fa-microphone"></a></li>

                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a href="#/user/editProfile/{{model.userId}}">Edit Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-left hidden-md visible-xs hidden-lg">
                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a target="_self">Music</a></li>
                                <!--<li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                               &lt;!&ndash; <li class="dropdown-header">Nav header</li>&ndash;&gt;
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item"><a>Home</a></li>
                        <li class="nav-item"><a>Playlists</a></li>
                        <li class="nav-item"><a href="#/user/followers/{{model.userId}}">Followers <span class="badge">{{model.followers}}</span></a></li>
                        <li class="nav-item"><a href="#/user/following/{{model.userId}}">Following <span class="badge">{{model.following}}</span></a></li>
                        <li class="nav-item"><a>Events</a></li>
                        <li class="nav-item"><a href="#/music/recordAndSearch/{{model.userId}}" style="font-size: 20px" class="fa fa-microphone" aria-hidden="true"></a></li>
                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCogPhone">
                                <li><a href="#/user/editProfile/{{model.userId}}">Edit Profile</a></li>

                                <li><a target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--<div class="collapse nav navbar-nav nav-collapse" id="nav-collapse3">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" />
                            </div>
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </form>
                    </div>-->
                </div>

            </div>
        </nav>
    </div>
    <div style="background-color: black; background:rgba(0,0,0,0.8);margin-top: 50px;" class="container">

        <div class="row">
            <div class="pull-left col-xs-12 col-sm-6">
                <h1 class="ak-myplaylist-heading"> <span style="color: red;">My</span> Playlists </h1>
            </div>
            <div class="col-xs-12 col-sm-6 ak-createplaylist-button-div" style="padding: 20px">
                <button style="width: 200px;" class="pull-right btn btn-lg btn-danger btn-block ak-createplaylist-button" data-toggle="modal" data-target="#myModal"
                        type="button">
                    Create Playlist</button>
            </div>

        </div>

        <hr size="30">
        <!-- List -->
        <div >
            <ul class="list-group" style="overflow-y: auto;height: 250px">
                <li ng-repeat="playlist in model.playLists" class="list-group-item">
                    <div class="row">
                        <div class="pull-left col-xs-2">
                            <a ng-click="model.openPlaylist(playlist._id)" class="glyphicon glyphicon-play-circle play-button"></a>
                            <!--   <span>{{$index+1}}</span>-->
                        </div>
                        <div class="col-xs-6">{{playlist.playListName}} </div>
                        <div class="col-xs-2 pull-right">
                            <a ng-click="model.deleteplayList(playlist)" class="glyphicon glyphicon-remove"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!-- modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearDataFromModal()">&times;</button>
                    <h4 class="modal-title">Create playlist</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/playlists/templates/newPlayListCreateModal.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

    </nav>
</div>