<div class="">
    <div class="row">
        <div class="">
            <div class="account-wall">
                <img class="profile-img" src="../../../resources/images/playlist_animated.gif"
                     alt="">
                <form class="form-signin form-group" name="newPlayListForm">
                    <input maxlength="10" ng-change="model.createError=null" type="text" class="form-control" placeholder="Playlist name" ng-model="model.newplayList.playListName" required autofocus>
                    <input maxlength="10" style="margin-top: 5px" ng-change="model.createError=null" type="text" class="form-control" placeholder="Mood" ng-model="model.newplayList.playlistmood" required>
                    <button class="btn btn-lg btn-danger btn-block"
                            type="submit" style="margin-top: 20px"
                            ng-click="newPlayListForm.$valid && model.createPlayList()">
                        CREATE</button>
                </form>
            </div>
            <span ng-show="model.createError" class="text-center new-account"  style="z-index: 100;color: red;font-size: large">
                {{model.createError}}
            </span>
            <span ng-show="model.createSuccess" class="text-center new-account"  style="z-index: 100;color: green;font-size: large">
                {{model.createSuccess}}
            </span>
        </div>
    </div>
</div>