<div class="pageBackground">
    <div style="background-color: black; background:rgba(0,0,0,0.6);margin-top: 50px;" class="container">

        <div class="row">
            <div class="pull-left col-xs-6">
                <h1> {{model.playlist.playListName}}</h1>
            </div>
            <div class="pull-right col-xs-6">
                <img style="position: relative;right: -12px;top: 2px;" class="pull-right img-circle" width="100px" height="100px" ng-src="{{model.playlist.playlistThumbNail  || '../../../resources/images/MuiscAlt2.png'}}">
            </div>
        </div>

        <hr size="30">
        <!--Music Player here -->
        <div id="nowPlay">
            <div class="row">

            <span class="col-xs-6" id="npAction">{{model.playStatus}}</span>
            <span class="col-xs-6" id="npTitle">{{model.nowPlayingTitle}}</span>
            </div>
            <div id="audio0" style="margin-top: 5px">
                <audio style="width: 100%;" preload id="audio1" preload controls="controls">Your browser does not support HTML5 Audio!>

                </audio>
                <div class="center">
                    <span id="prev" ng-click="model.previousSong()" class="glyphicon glyphicon-step-backward pull-left"></span>
                    <span id="next" ng-click="model.nextSong()" class="glyphicon glyphicon-step-forward pull-right"></span>
                </div>
            </div>

        </div>
        <hr size="30">
        <div >
        <ul class="list-group" style="overflow-y: auto;height: 250px">
            <li ng-repeat="song in model.playlist.songs" class="list-group-item" ng-class="{'current-song' : $index===model.index}">

                <div class="row">
                    <div class="pull-left col-xs-2">
                        <a ng-click="model.playThisSong($index)" class="glyphicon glyphicon-play-circle play-button"></a>
                         <!--   <span>{{$index+1}}</span>-->
                    </div>
                    <div class="col-xs-10">
                        {{song.title}}
                    </div>
                    <div ng-show="model.isOwner" class="col-xs-2 pull-right">
                        <a ng-click="model.deletethisSong(song)" class="glyphicon glyphicon-remove"></a>
                    </div>

                    <div  ng-show="!model.isOwner" class="col-xs-2 pull-right">
                        <a ><span class="glyphicon glyphicon-plus pull-right" ng-click="model.loadAllMyList(song)" data-toggle="modal" data-target="#showAllPlayList" > </span></a>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>

    <div id="showAllPlayList" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearDataFromModal()">&times;</button>
                    <h4 class="modal-title">Your Available playlists </h4>
                </div>
                <!--adding ng-repeat this side  so that this can be repeated -->
                <div >
                    <ul class="list-group" style="overflow-y: auto;height: 250px">
                        <li ng-click="model.addtothisplaylist(playlist)" ng-repeat=" playlist in model.availablePlaylist" class="list-group-item">
                            <div class="row">
                                <div class="pull-left col-xs-2">
                                    <a  >{{playlist.playListName}}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>