<div class="pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">

                    <a class="navbar-brand glorify">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav header-ul">

                        <li ng-show="model.pid" class="nav-item"><a href="#/user/userHomePage">Home</a></li>
                        <li ng-show="!model.pid" class="nav-item"><a href="#/user/userHomePage">Home</a></li>
                        <li ng-show="model.pid" class="nav-item glorifyExtra"><a href="#/music/myplaylists">Playlists</a></li>
                        <li ng-show="!model.pid" class="nav-item glorifyExtra"><a href="#/music/myplaylists">Playlists</a></li>
                        <li ng-show="model.pid" class="nav-item"><a style="font-size: 20px" href="#/music/recordAndSearch" class="fa fa-microphone"></a></li>
                        <li ng-show="!model.pid" class="nav-item"><a style="font-size: 20px" href="#/music/recordAndSearch" class="fa fa-microphone"></a></li>
                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li ng-show="model.isOwner"><a style="color: white;" href="#/user/editProfile">Edit Profile</a></li>
                                <li ng-show="!model.isOwner"><a style="color: white;" href="#/user/editProfile">Edit Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color: white;" ng-click="model.logout()" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div style="background-color: black; background:rgba(0,0,0,0.8);margin-top: 50px;" class="container">

        <div class="row">
            <div class="pull-left col-xs-6">
                <h3 class="redify glorify" ng-show="!model.playlist.songs"> No Songs Added to the playlist</h3>
                <h1> {{model.playlist.playListName}}</h1>
                <h3 ng-show="model.playlist.playlistmood">
                    ( {{model.playlist.playlistmood}} )
                </h3>
            </div>
            <div class="pull-right col-xs-6">
                <img style="position: relative;right: -12px;top: 2px;" class="pull-right img-circle" width="150px" height="150px" ng-src="{{model.playlist.playlistThumbNail  || '../../../resources/images/playlist_animated.gif'}}">
            </div>
        </div>

        <hr size="30">
        <!--Music Player here -->
        <div id="nowPlay">
            <div class="row" style="font-size: large">

            <span class="col-xs-6" id="npAction">{{model.playStatus}}</span>
            <span class="col-xs-6" id="npTitle">{{model.nowPlayingTitle}}</span>
            </div>
            <div id="audio0" style="margin-top: 5px">
                <audio style="width: 100%;" preload id="audio1" preload controls="controls">Your browser does not support HTML5 Audio!>

                </audio>
                <div class="center text-center" style="font-size: x-large">
                    <span id="prev" ng-click="model.previousSong()" class="glyphicon glyphicon-step-backward pull-left"></span>
                    <span id="next" ng-click="model.nextSong()" class="glyphicon glyphicon-step-forward pull-right"></span>
                </div>
            </div>

        </div>
        <hr size="30">
        <div class="table">
        <ul class="list-group" style="overflow-y: auto;max-height: 450px">
            <li ng-repeat="song in model.playlist.songs" class="list-group-item" ng-class="{'current-song' : $index===model.index}">

                <div class="row">
                    <div class=" col-xs-2">
                        <a ng-click="model.playThisSong($index)" class="glyphicon glyphicon-play-circle pull-left play-button"></a>
                         <!--   <span>{{$index+1}}</span>-->
                    </div>
                    <div class="col-xs-8">
                        {{song.title}}
                    </div>
                    <div ng-show="model.isOwner" class="col-xs-2">
                        <a ng-click="model.deletethisSong(song)" class="glyphicon glyphicon-remove pull-right"></a>
                    </div>

                    <div  ng-show="!model.isOwner" class="col-xs-2">
                        <a ><span class="glyphicon glyphicon-plus pull-right" ng-click="model.loadAllMyList(song)" data-toggle="modal" data-target="#showAllPlayList" > </span></a>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>

    <div id="showAllPlayList" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearDataFromModal()">&times;</button>
                    <h4 class="modal-title">Your Available playlists </h4>
                </div>
                <!--adding ng-repeat this side  so that this can be repeated -->
                <div >
                    <ul class="list-group" style="overflow-y: auto;height: 250px">
                        <li ng-click="model.addtothisplaylist(playlist)" ng-repeat=" playlist in model.availablePlaylist" class="list-group-item">
                            <div class="row">
                                <div class="pull-left col-xs-2">
                                    <a  >{{playlist.playListName}}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="col-xs-12">
    <a style="font-size: large;padding: 5px;" class="pull-right" href="javascript:history.back()">Back</a>
</div>
</nav>