<div class="pageBackground">

    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand glorify">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav header-ul">
                        <li class="dropdown" ng-show="model.user.userType ==='U'">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li ng-click="model.error=null;"><a style="color: white;" data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a style="color: white;" target="_self" aria-expanded="false">Music</a></li>

                            </ul>
                        </li>

                        <li  ng-show="model.user.userType ==='U'"  class="nav-item"><a href="#/user/userHomePage">Home</a></li>
                        <li ng-show="model.user.userType ==='M'"  class="nav-item"><a href="#/user/userHomePageSinger">Home</a></li>
                        <li ng-show="model.user.userType ==='U'" class="nav-item"><a href="#/music/myplaylists">Playlists</a></li>
                        <li ng-show="model.user.userType ==='M'" class="nav-item glorifyExtra"><a href="#/music/myalbums">Albums</a></li>

                        <li class="nav-item"><a class="" href="#/events/upcomingEvents">Events</a></li>
                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a style="color: white;" href="#/user/editProfile">Edit Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color: white;" target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
                <div ng-show="model.noSongFound" class="container">
                    <div class="row">
                    <div style="margin-bottom: 10px"  class="alert alert-danger animate-top pull-left col-xs-12 text-center" role="alert">
                        <!-- <span data-dismiss="alert" aria-label="close" class="closebtn" ng-click="model.error=null;">&times;</span>-->
                       <div class="col-xs-12 col-sm-8 pull-left">
                           {{model.noSongFound}}
                       </div>
                        <div class="col-sm-4 col-sm-12">
                        <div ng-show="model.isOwner" class="col-xs-6">
                            <a class="btn btn-default pull-right" data-toggle="modal" data-target="#newSongModal">Add Song</a>
                        </div>
                        <div class="col-xs-6">       <!-- href="#/music/myalbums/{{model.userId}}"-->
                            <a ng-show="!model.isOwner" class="btn btn-default pull-right" href="#/user/singerSearch/{{model.userId}}/{{model.singerId}}">Go Back</a>
                            <a ng-show="model.isOwner" class="btn btn-default pull-right" href="#/music/myalbums">Go Back</a>

                        </div>
                        </div>

                    </div>
                    </div>
                </div>
    <div ng-show="! model.noSongFound" style="background-color: black; background:rgba(0,0,0,0.8);margin-top: 50px;" class="container">
        <div class="row">
            <div class="pull-left col-xs-6 glorifyExtra">
                <h1> {{model.album.albumname}}</h1>
            </div>
            <div class="pull-right col-xs-6">
                <img style="position: relative;right: -12px;top: 2px;" class="pull-right img-circle" width="125" height="125" ng-src="{{model.album.albumThumbNail  || '../../../resources/images/album_alt.png'}}">
            </div>
        </div>
        <hr size="30">
        <!--Music Player here -->
        <div ng-show="model.isOwner" class="container-fluid" >
            <a>
                <span class="btn btn-danger pull-right" data-toggle="modal" data-target="#newSongModal" >Add new Song </span>
                <!--<span class="glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target="#newSongModal" > </span>-->
            </a>
        </div>
        <div id="nowPlay">
            <div class="row glorify" style="font-size: larger">
                <span class="col-xs-6" id="npAction">{{model.playStatus}}</span>
                <span class="col-xs-6" id="npTitle">{{model.nowPlayingTitle}}</span>
            </div>
            <div id="audio0" style="margin-top: 5px">
                <audio style="width: 100%;" preload id="audio1" preload controls="controls">Your browser does not support HTML5 Audio!>
                </audio>
                <div class="center" style="font-size: large">
                    <span id="prev" ng-click="model.previousSong()" class="glyphicon glyphicon-step-backward pull-left"></span>
                    <span id="next" ng-click="model.nextSong()" class="glyphicon glyphicon-step-forward pull-right"></span>
                </div>
            </div>
        </div>
        <hr size="30">
        <div >
            <ul class="list-group" style="overflow-y: auto;height: 250px;font-size: large">
                <li ng-repeat="song in model.album.songs" class="list-group-item" ng-class="{'current-song' : $index===model.index}">
                    <div class="row">
                        <div class="pull-left col-xs-2">
                            <a ng-click="model.playThisSong($index)" class="glyphicon glyphicon-play-circle play-button"></a>
                            <!--   <span>{{$index+1}}</span>-->
                        </div>
                        <a class="col-xs-8">
                            {{song.title}}
                        </a>
                        <div ng-show="model.isOwner" class="col-xs-2">
                            <a ng-click="model.deletethisSong(song)" class="pull-right glyphicon glyphicon-remove"></a>
                        </div>

                        <div  ng-show="!model.isOwner" class="col-xs-2">
                            <a ><span class="glyphicon glyphicon-plus pull-right" ng-click="model.loadAllMyList(song)" data-toggle="modal" data-target="#showAllPlayList" > </span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="showAllPlayList" class="modal fade" role="dialog">
        <div class="modal-dialog" style="font-size: large">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close glorify" data-dismiss="modal" ng-click="model.clearDataFromModal()">&times;</button>
                    <h4 class="modal-title glorifyExtra">Your Available playlists </h4>
                </div>
                <!--adding ng-repeat this side  so that this can be repeated -->
                <div class="modal-body">
                    <ul class="list-group" style="overflow-y: auto;height: 250px">
                        <li ng-click="model.addtothisplaylist(playlist)" ng-repeat=" playlist in model.availablePlaylist" class="list-group-item">
                            <div class="row">
                                <div class="pull-left col-xs-3">
                                    <img class="thumb" width="50px" height="50px" ng-src="{{playlist.playListImageURL || '../../../resources/images/playlist_animated.gif'}} ">
                                </div>
                                <div class="pull-left col-xs-9 glorify" style="font-size: larger">
                                    <a>{{playlist.playListName}}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="profileSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Search Users/Artists</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/searchUser.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="newSongModal">
       <div class="modal-dialog">
            <div class="modal-content">
                <form id="newform" enctype="multipart/form-data" role="form">
                    <div class="upload-spinner" ng-show="model.songUploaded">
                        <img style="margin:0 auto;"
                             class="" width="100px"
                             height="100px"
                             src='../../../resources/images/loading_spinner.gif'/>

                    </div>
                    <div class="container-fluid">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Upload song</h4>
                        </div>
                        <label for="songname"> Song Name </label>
                        <input  ng-model="model.song.title" type ="text" class = "form-control" id="songname" placeholder="Song Name"  ng-required="true">

                        <label for="singer"> Artist </label>

                        <input ng-model="model.song.artistName" type ="text" class = "form-control"id="singer" placeholder="Artist"  ng-required="true" >

                        <label for="genre"> Genre </label>
                        <input ng-model="model.song.genre" type ="text" class = "form-control"id="genre" placeholder="pop" ng-required="true" >
                        <div class="modal-body">
                            <div id="messages1"></div>
                            <input type="file" ngf-select name="file" id="file" ng-model="model.file" ngf-pattern="'.mp3,audio/*'" accept=".mp3,audio/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" ng-click="model.sendtoserver()" >Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="col-xs-12">
            <a style="font-size: large;padding: 5px;" class="pull-right" href="javascript:history.back()">Back</a>
        </div>
    </nav>
</div>