<div class="pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand glorify">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse ">

                    <ul class="nav navbar-nav header-ul">
                        <li class="dropdown" ng-show="model.user.userType==='U'">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li ng-click="model.error=null;"><a style="color: white;" data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a style="color: white;" target="_self" aria-expanded="false">Music</a></li>

                            </ul>
                        </li>


                        <li  class="nav-item"><a href="#/user/userHomePageSinger/{{model.userId}}">Home</a></li>
                        <li  class="nav-item glorifyExtra"><a href="#/music/myalbums/{{model.userId}}">Albums</a></li>
                        <li class="nav-item"><a class="" href="#/events/upcomingEvents/{{model.userId}}">Events</a></li>
                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>
                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a style="color: white;" href="#/user/editProfile/{{model.userId}}">Edit Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color: white;" target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div style="background-color: black; background:rgba(0,0,0,0.8);margin-top: 50px;" class="container">

        <div class="row">
            <div class="pull-left col-xs-12 col-sm-6 glorifyExtra">
                <h1 class="ak-myplaylist-heading"> <span class="redify">My</span> Albums </h1>
            </div>
            <div class="col-xs-12 col-sm-6 text-center " style="padding: 20px;align-content: center">
                <button style="width: 200px;" class="btn btn-lg btn-danger " data-toggle="modal" data-target="#myModal"
                        type="button">
                    Create Album</button>
            </div>
        </div>
        <span ng-show="model.error" class="text-center new-account"  style="z-index: 100;color: red;font-size: large">
                {{model.error}}
         </span>

        <hr size="30">
        <!-- List -->
        <div >
            <ul class="list-group" style="overflow-y: auto;height: 250px">
                <li ng-repeat="album in model.albums" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2">
                            <a ng-click="model.openAlbum(album._id)" class="pull-left glyphicon glyphicon-play-circle play-button"></a>
                            <!--   <span>{{$index+1}}</span>-->

                        </div>
                        <div  class="col-xs-8 glorify">
                            <a ng-click="model.openAlbum(album._id)">
                                {{album.albumname}} </a> </div>
                        <div class="col-xs-2 ">
                            <a ng-click="model.selectAlbumToDelete(album)"
                               data-toggle="modal" data-target="#myModalDelete"
                               class="pull-right glyphicon glyphicon-remove"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- modal -->
    <div id="myModal" class="modal glorify fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearDataFromModal()">&times;</button>
                    <h4 class="modal-title glorifyExtra">Create Album</h4>
                </div>
                <div class="modal-body glorifyExtra">
                    <ng-include src="'views/albums/templates/newAlbumCreateModal.view.client.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalDelete" class="modal fade text-center" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Delete Event</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/albums/templates/deleteAlbum.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

    </nav>
</div>