<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container" id="forgot-password">
    <h4 class="">
        Forgot your password?? No worries we got it.
    </h4>
    <form  role="form" id="forgotpass" method="post">
        <fieldset>
        <span class="help-block">
          Enter the email address you used to create account and we will patch you.
        </span>
            <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
                <input class="form-control" placeholder="Email Address " name="email" type="email" id="email" required="">
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="submit">
                Continue
            </button>
            <p class="help-block">
                <a class="text-muted" href="#" id="acceso">
                    <small>Go back to login page</small></a>
            </p>
        </fieldset>
    </form>
</div>
</body>
</html>