<div class=" pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav pull-right  visible-sm visible-md visible-lg">
                        <li class="nav-item"><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#addUserModal">Add User </a></li>
                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                            </ul>

                        </li>
                        <li class="nav-item"><a>Home</a></li>

                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a href="#/user/editProfile/{{model.userId}}">Edit Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-left hidden-md visible-xs hidden-lg">
                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#addUserModal">Add User </a></li>
                        <li class="nav-item"><a>Home</a></li>
                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCogPhone">
                                <li><a href="#/user/editProfile/{{model.userId}}">Edit Profile</a></li>
                                <li><a target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="jumbotron">
        <div class="container-fluid" style="margin-top: 50px">
            <div class="row">
                <div class="col-xs-6">
                    <h1><span style="color: red">Hello Admin </span>, {{model.user.firstName}}</h1>
                </div>
                <div class="col-xs-6">

                    <div class="pull-right">
                        <img class="img-circle" width="140px" height="140px"
                             ng-src="{{model.user.imageURL || '../../../resources/images/mard.jpg'}} ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <h1>Will show the dashboard here</h1>
    </div>

    <!-- Profile Search Modal-->
    <div id="profileSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Search Users</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/adminsearchUser.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <!-- add a new user modal -->
    <div id="addUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Add a new User</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/admin/signupadmin.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>