<!--Done with the security of this page-->

<div class="col-sm-12 glorify">
    <div class="mymusic-shortcode-events">
        <h2 class="ak-event-title" style="text-transform: uppercase;padding-top: 20px">
            <span style="color: red">RECENT</span> Albums
        </h2>
        <p class="ak-ds">
            Listen to the albums here and add songs in your own playlists.
        </p>
        <hr size="30">
    </div>
    <div  class="ak-album-container">
        <div ng-repeat="album in model.albums" class="col-xs-12 col-sm-3 col-md-2" style="">
            <div class="mymusic-ak-playlist-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        <!--album url is not present currently in the systems-->
                        <img class="img-responsive album-image-thumb" width="100%"
                             ng-src="{{album.ImageURL || '../../../resources/images/album_alt.png'}} ">
                    </div >
                    <div class="col-xs-6 col-sm-12">
                        <div>
                            <div class="mymusic-ak-playlist-data">
                                <h6>{{album.albumname}}</h6>
                                <span>{{album.albumgenre}}</span>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button
                                                class="btn btn-lg btn-danger btn-block ak-playlist-button"
                                                type="submit"
                                                ng-click="model.openAlbum(album._id)">
                                            Open</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>