<div class="col-sm-12">
    <div class="mymusic-shortcode-events" >

            <h2 class="ak-event-title" style="text-transform: uppercase;padding-top: 20px">
                <span>Albums</span>
            </h2>
            <p class="ak-ds">
                Listen to the albums here and add songs in your own playlists.
            </p>
        <hr size="30">
        <div style="margin-top: 30px">

            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
                <div class="mymusic-ak-playlist-item">
                    <img class="img-responsive album-image-thumb" width="100%"
                         ng-src="{{user.imageURL || '../../../resources/images/MuiscAlt2.png'}} ">
                    <div>
                        <div class="mymusic-ak-playlist-data">
                            <h4>Album Name</h4>
                            <h4> Genre</h4>
                            <h4>12 songs</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Open</button>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                        Add To Playlist</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>