<div class="pageBackground" style="padding-top: 30px;">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand glorify">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav header-ul">


                        <li  ng-show="model.user.userType ==='U'"  class="nav-item"><a href="#/user/userHomePage">Home</a></li>
                        <li ng-show="model.user.userType ==='M'"  class="nav-item"><a href="#/user/userHomePageSinger">Home</a></li>
                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a style="color: white;" href="#/user/editProfile">Edit Profile</a></li>
                                <li ng-show="model.user.userType ==='U'" ><a style="color: white;" target="_self" aria-expanded="false" data-toggle="modal" data-target="#inviteModal">Send Invite</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color: white;" ng-click="model.logout()" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="black-container container" style="margin-bottom: 100px">
        <div ng-show="model.error" class="alert alert-danger animate-top alert-dismissable" role="alert">
            <span aria-label="close" class="closebtn" ng-click="model.closeAlert()">&times;</span>
            {{model.error}}
        </div>
        <div ng-show="model.success" class="alert alert-danger animate-top alert-dismissable" role="alert">
            <span aria-label="close" class="closebtn" ng-click="model.closeAlert()">&times;</span>
            {{model.success}}
        </div>
  <div class="row">
      <h1 class="page-header" style="text-align: center;">Edit Your <span class="redify">Profile</span></h1>
  </div>
  <div class="row">
    <!-- left column  where the picture will be shown-->

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img style="width:200px;height:200px" ngf-thumbnail="model.file || model.user.imageURL ||(model.user.gender=='F'?'../../../resources/images/aurat.jpg':'../../../resources/images/mard.jpg')" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Change you picture</h6>
          <input type="file" class="text-center center-block well well-sm"
                 ngf-select name="file" id="file" ng-model="model.file" accept="image/*">

      </div>
    </div>
      <!--model.user.imageURL||-->
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 ">
        <form class="form-horizontal" style="font-size: medium" role="form" name="editProfileForm">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input required class="form-control" value="" type="text" ng-model="model.user.firstName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input required class="form-control" value="" type="text" ng-model="model.user.lastName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input required class="form-control" value="" type="text" ng-model="model.user.email">
          </div>
        </div >
            <!--handle the gender part correctly here as it wont work correctly here now-->
        <div class="form-group" ng-show = "model.user.userType == 'U'">
          <label class="col-lg-3 control-label">Gender</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Male" selected="selected">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
        </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number</label>
                <div class="col-lg-8">
                    <input required class="form-control"
                           pattern="^\d{10}$"
                           maxlength="10"
                           type="text" ng-model="model.user.phone">
                </div>
            </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Username:</label>
          <div class="col-lg-8">
            <input disabled class="form-control" value="" type="text" ng-model="model.user.username" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">

            <input class="btn btn-danger" value="Save Changes" type="submit" ng-click="editProfileForm.$valid &&  model.saveChanges()">
            <span></span>
              <a class="btn btn-default" href="javascript:history.back()">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="col-xs-12">
            <a style="font-size: large;padding: 5px;" class="pull-right" href="javascript:history.back()">Back</a>
        </div>
    </nav>
</div>