<div class="container" style="padding-top: 30px;">
  <div class="row">
  <h1 class="page-header" style="text-align: center;">Edit Your Profile</h1>
  </div>
  <div class="row">
    <!-- left column  where the picture will be shown-->
      <div ng-show="model.error" class="alert alert-danger" role="alert">
          {{model.error}}
      </div>
      <div ng-show="model.success" class="alert alert-success" role="alert">
          {{model.success}}
      </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">

        <img style="width:200px;height:200px" ngf-thumbnail="model.file || model.user.imageURL ||(model.user.gender=='M'?'../../../resources/images/mard.jpg':'../../../resources/images/aurat.jpg')" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Change you picture</h6>
          <input type="file" class="text-center center-block well well-sm"
                 ngf-select name="file" id="file" ng-model="model.file" accept="image/*">

      </div>
    </div>
      <!--model.user.imageURL||-->
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 ">
        <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="model.user.firstName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="model.user.lastName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="model.user.email">
          </div>
        </div >
            <!--handle the gender part correctly here as it wont work correctly here now-->
        <div class="form-group" ng-show = "model.user.userType == 'U'">
          <label class="col-lg-3 control-label">Gender</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Male" selected="selected">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
        </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number</label>
                <div class="col-lg-8">
                    <input class="form-control" value="" type="text" ng-model="model.user.phone">
                </div>
            </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Username:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="model.user.username" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button" ng-click="model.saveChanges()">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>