<div class="pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand glorify">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse ">

                    <ul class="nav navbar-nav header-ul">
                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li ng-click="model.error=null;"><a style="color: white;" data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li ng-click="model.songerror=null;">
                                    <a style="color: white;"
                                       data-toggle="modal"
                                       target="_self"
                                       aria-expanded="false"
                                       data-target="#songSearchModal">Music</a></li>

                            </ul>
                        </li>
                        <li class="nav-item"><a href="#/user/userHomePage">Home</a></li>
                        <li class="nav-item"><a href="#/music/myplaylists">Playlists</a></li>
                        <li class="nav-item glorifyExtra"><a href="#/user/followers">Followers <span class="badge">{{model.followersLength}}</span></a></li>
                        <li class="nav-item"><a href="#/user/following">Following <span class="badge">{{model.following}}</span></a></li>
                        <li class="nav-item"><a href="#/events/upcomingEvents">Events</a></li>
                        <li class="nav-item"><a style="font-size: 20px" href="#/music/recordAndSearch" class="fa fa-microphone"></a></li>

                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a style="color: white;" href="#/user/editProfile">Edit Profile</a></li>
                                <li><a style="color: white;" data-toggle="modal" target="_self" aria-expanded="false" data-target="#inviteModal">Send Invite</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color: white;" ng-click="model.logout()" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container black-container">
        <div class="row">
            <div class="pull-left col-xs-12">
                <h1 class="glorifyExtra"> <span class="redify">My</span> Followers </h1>
            </div>
        </div>
        <hr size="30">
        <!-- List -->
        <div ng-show="model.followers.length > 0">
            <ul  class="list-group" style="overflow-y: auto;height: 250px">
                <li ng-repeat="user in model.followers" class="list-group-item">
                    <div class="row">
                        <div class="pull-left col-xs-3">
                            <img ng-click="model.redirectToSearchedUser(user._id)"
                                    class="thumb" width="50px" height="50px" ng-src="{{user.imageURL || '../../../resources/images/mard.jpg'}} ">
                        </div>

                        <div class="pull-left col-xs-9" style="font-size: large">
                            <a ng-click="model.redirectToSearchedUser(user._id)">
                                {{user.firstName + ' ' + user.lastName}}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div ng-show="model.follError" class="alert alert-danger animate-top" role="alert">
            {{model.follError}}
        </div>
    </div>
    <div id="profileSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Search Users/Artists</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/searchUser.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>
    <div id="inviteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Invite your friends</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/invitation.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>
    <div id="songSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Search Song</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/music/templates/searchsong.template.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="col-xs-12">
            <a style="font-size: large;padding: 5px;" class="pull-right" href="javascript:history.back()">Back</a>
        </div>
    </nav>
</div>