<div class="pageBackground" >
<div class = "container" id="forgot-password" style="margin-top: 100px; background: rgba(0,0,0,0.8);">
    <h4 class="">
        Forgot your password?? No worries we got it.
    </h4>
    <form  role="form" id="forgotpass" name="forgotPassForm">
        <fieldset>
        <span class="help-block">
          Enter the email address you used to create account and we will patch you.
        </span>

            <span ng-show="model.errorEmail" class="text-center new-account"  style="z-index: 100;color: red;font-size: large">
                {{model.errorEmail}}
            </span>

            <span ng-show="model.successEmail" class="text-center new-account"  style="z-index: 100;color: green;font-size: large">
                {{model.successEmail}}
            </span>

            <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
                <input ng-change="model.errorEmail=null" class="form-control" placeholder="Email Address" name="email" type="email" id="email" required ng-model="model.emailAddress" >
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="submit" ng-click="forgotPassForm.$valid && model.sendEmail()">
                Continue
            </button>
            <p class="help-block">
                <a class="text-muted" href="#/" id="acceso">
                    <small>Go back to login page</small></a>
            </p>
        </fieldset>
    </form>
</div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="col-xs-12">
            <a style="font-size: large;padding: 5px;" class="pull-right" href="javascript:history.back()">Back</a>
        </div>
    </nav>
</div>