
<div class = "container" id="forgot-password">
    <h4 class="">
        Forgot your password?? No worries we got it.
    </h4>
    <form  role="form" id="forgotpass" method="post">
        <fieldset>
        <span class="help-block">
          Enter the email address you used to create account and we will patch you.
        </span>
            <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
                <input class="form-control" placeholder="Email Address " name="email" type="email" id="email" required="" ng-model="model.emailaddress" >
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="submit" ng-click="model.sendEmail()">
                Continue
            </button>
            <p class="help-block">
                <a class="text-muted" href="#" id="acceso">
                    <small>Go back to login page</small></a>
            </p>
        </fieldset>
    </form>
</div>