<div class="container-fluid pageBackground">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span style="color: red;font-family:Helvetica">My</span>Music
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav pull-right visible-md visible-lg">
                    <li class="dropdown">
                        <a href="#" target="_self"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Search <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a data-toggle="collapse" href="#nav-collapse3" target="_self" aria-expanded="false" aria-controls="nav-collapse3">Profiles</a></li>
                            <li><a data-toggle="collapse" href="#nav-collapse3" target="_self" aria-expanded="false" aria-controls="nav-collapse3">Music</a></li>
                            <!--<li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                           &lt;!&ndash; <li class="dropdown-header">Nav header</li>&ndash;&gt;
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item"><a>Home</a></li>
                    <li class="nav-item"><a>Playlists</a></li>
                    <li class="nav-item"><a>Followers</a></li>
                    <li class="nav-item"><a>Following</a></li>
                    <li class="nav-item"><a>Events</a></li>
                    <li class="nav-item"><a>Events</a></li>
                    <li class="nav-item"><a style="font-size: 20px" class="fa fa-microphone" aria-hidden="true"></a></li>

                    <li class="nav-item" role="separator"></li>
                    <li class="nav-item">
                        <a> <span class="glyphicon glyphicon-cog"> </span> </a>
                    </li>



                </ul>

                <ul class="nav navbar-nav pull-left hidden-md hidden-lg visible-xs visible-sm">
                    <li class="dropdown">
                        <a href="#" target="_self"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Search <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a target="_self">Profiles</a></li>
                            <li><a target="_self">Music</a></li>
                            <!--<li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                           &lt;!&ndash; <li class="dropdown-header">Nav header</li>&ndash;&gt;
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item"><a>Home</a></li>
                    <li class="nav-item"><a>Playlists</a></li>
                    <li class="nav-item"><a>Followers</a></li>
                    <li class="nav-item"><a>Following</a></li>
                    <li class="nav-item"><a>Events</a></li>
                    <li class="nav-item"><a>Search</a></li>
                    <li class="nav-item"><a style="font-size: 20px" class="fa fa-microphone" aria-hidden="true"></a></li>
                </ul>
                <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse3">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" />
                        </div>
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

<div class="container-fluid" style="padding-top: 100px">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9 col-sm-push-3">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" title="Toggle sidebar"><i class="fa fa-chevron-right"></i></button>
            </p>
            <!--<ng-include src="'views/user/templates/album.create.view.client.html'"></ng-include>-->
            <div class="container-fluid" >
                <a>
                    <span class="glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target="#newAlbumModal" > </span>
                </a>
                <div class="modal fade" id="newAlbumModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form id="newform" enctype="multipart/form-data" role="form">
                                <div class="container-fluid">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Create Album</h4>
                                    </div>
                                    <label for="albumname"> AlbumName </label>
                                    <input  ng-model="model.album.albumname" type ="text" class = "form-control" id="albumname" placeholder="Album Name"  ng-required="required">

                                    <label for="genre"> Genre </label>
                                    <input ng-model="model.album.albumgenre" type ="text" class = "form-control"id="genre" placeholder="pop" ng-required="required" >
                                </div>
                                <div class="modal-footer" style="padding-top: 10px">
                                    <button type="submit" class="btn btn-primary" ng-click="model.createalbum()" >Create album</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">Your options</a>
                <ul class="list-group" >
                    <li ng-repeat="album in model.albums" class="list-group-item" >
                        <div class="row">
                            <div class="col-xs-10 col-sm-6">
                                <!-- Will redirect the website to its corresponding pages-->
                                <a href="">
                                    {{album.albumname}}
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--/.sidebar-offcanvas-->


    </div><!--/row-->
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>