<div class="container-fluid">

    <video poster="../../../resources/images/IMG_16566.jpg" id="bgvid" playsinline autoplay muted loop>
        <source src="../../../resources/videos/landingPageMovie.mp4" type="video/webm">
        <source src="../../../resources/videos/landingPageMovie.mp4" type="video/mp4">
    </video>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span style="color: red;font-family:Helvetica">My</span>Music
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item"><a data-toggle="modal" data-target="#myModal">Login</a></li>
                    <li class="nav-item"><a data-toggle="modal" data-target="#myModalSignup" target="_self">Sign Up</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!--<div ng-show="model.error" class="alert alert-danger animate-top" role="alert" style="z-index: 100;">
        <span class="closebtn" ng-click="model.error=null;">&times;</span>
        {{model.error}}
    </div>-->
    <div style="margin-top: 80px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">

                    <div class="container">
                        <div class="carousel-caption">

                            <h1> First Slide</h1>
                            <p><a class="btn btn-lg btn-primary"  role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1> Second Slide</h1>

                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>One more for good measure.</h1>

                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" target="_self" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" target="_self" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/login.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <div id="myModalSignup" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Sign up</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/signup.view.client.html'"></ng-include>
                </div>
                <!--<div class="modal-footer" >
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>

        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

    </nav>

</div>