<div class="">
    <div class="row">
        <div class="">
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin form-group">
                    <input type="text" class="form-control" placeholder="Username"   ng-model="model.user.username" required autofocus>
                    <input type="password" class="form-control" placeholder="Password"ng-model="model.user.password"required>
                    <button class="btn btn-lg btn-danger btn-block"
                            type="submit"
                            ng-click="model.login(model.user.username,model.user.password)">
                        Sign in</button>
                    <div class="row">
                        <!--<div class="col-xs-12 col-sm-6 col-md-6 text-center">
                           <label class="checkbox">
                               <input type="checkbox" value="remember-me">
                               Remember me
                           </label>
                        </div>-->
                        <div class="text-center" style="margin-top: 5px;">
                            <a ng-click="model.redirectToForgotPassword()">Forgot Password? </a><span class="clearfix"></span>
                        </div>
                    </div>
                </form>
            </div>
            <span ng-show="model.errorLogin" class="text-center new-account"  style="z-index: 100;color: red;font-size: large">
                {{model.errorLogin}}
            </span>
            <a style="color: white;font-size: 20px" class="text-center new-account">Create an Account </a>
        </div>
    </div>
</div>