<div class="col-sm-12">
    <div class="mymusic-shortcode-events" >

            <h2 class="ak-event-title" style="text-transform: uppercase;padding-top: 20px">
                 <span style="color: red">Asim's</span> Playlists
            </h2>
            <p class="ak-ds">
                Listen to the playlists here and add songs in your own play lists.
            </p>
        <hr size="30">
        <div class="ak-album-container">

            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2" style="">
                <div class="mymusic-ak-playlist-item">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <img class="img-responsive album-image-thumb" width="100%"
                                 ng-src="{{user.imageURL || '../../../resources/images/album_alt.png'}} ">
                        </div >
                        <div class="col-xs-6 col-sm-12">
                            <div>
                                <div class="mymusic-ak-playlist-data">
                                    <h6>Album Name</h6>
                                    <span> Genre</span>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Open</button>
                                        </div>
                                        <!--<div class="col-xs-12">
                                            <button class="btn btn-lg btn-danger btn-block ak-playlist-button" type="submit" ng-click="model.followUser()">
                                                Add To Playlist</button>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>





        </div>

    </div>
</div>