<div class=" pageBackground">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <span style="color: red;font-family:Helvetica">My</span>Music
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav pull-right  visible-sm visible-md visible-lg">

                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a target="_self" aria-expanded="false">Music</a></li>

                            </ul>
                        </li>
                        <li class="nav-item"><a>Home</a></li>
                        <li class="nav-item"><a>Playlists</a></li>
                        <li class="nav-item"><a>Followers <span class="badge">42</span></a></li>
                        <li class="nav-item"><a>Following <span class="badge">12</span></a></li>
                        <li class="nav-item"><a>Events</a></li>

                        <li class="nav-item"><a style="font-size: 20px" class="fa fa-microphone"></a></li>

                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCog">
                                <li><a target="_self">Edit Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-left hidden-md visible-xs hidden-lg">
                        <li class="dropdown">
                            <a href="#" target="_self"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Search <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" target="_self" aria-expanded="false" data-target="#profileSearchModal">Profiles</a></li>
                                <li><a target="_self">Music</a></li>
                                <!--<li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                               &lt;!&ndash; <li class="dropdown-header">Nav header</li>&ndash;&gt;
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item"><a>Home</a></li>
                        <li class="nav-item"><a>Playlists</a></li>
                        <li class="nav-item"><a>Followers</a></li>
                        <li class="nav-item"><a>Following</a></li>
                        <li class="nav-item"><a>Events</a></li>
                        <li class="nav-item"><a>Search</a></li>
                        <li class="nav-item"><a style="font-size: 20px" class="fa fa-microphone" aria-hidden="true"></a></li>
                        <li class="nav-item">
                            <a class="glyphicon glyphicon-cog dropdown-toggle"
                               target="_self"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"></a>

                            <ul class="dropdown-menu" id="profileHeaderCogPhone">
                                <li><a target="_self">Edit Profile</a></li>

                                <li><a target="_self" >Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--<div class="collapse nav navbar-nav nav-collapse" id="nav-collapse3">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" />
                            </div>
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </form>
                    </div>-->
                </div>

            </div>
        </nav>
    </div>
    <div class="jumbotron">
        <div class="container-fluid" style="margin-top: 50px">
            <div class="row">
                <div class="col-sm-6 col-xs-12" style="margin-bottom: 20px">
                    <div class="profile-image">
                        <img class="img-circle" width="200px" height="200px"
                             ng-src="{{user.imageURL || '../../../resources/images/mard.jpg'}} ">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 profile-name">
                    <h1><span style="color: red">Miley </span>Cyrus</h1>
                </div>
                <div class="col-sm-6 col-xs-12 profile-name">
                    <button class="btn btn-lg btn-danger btn-block" type="submit" ng-click="model.followUser()">
                        FOLLOW</button>
                </div>
                <div class="col-sm-6 col-xs-12 profile-name" style="margin-top: 25px">
                    <button class="btn btn-lg btn-danger btn-block" type="submit" ng-click="model.followUser()">
                        UNFOLLOW</button>
                </div>
                <!--<div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-bottom: 100px;background: rgba(0, 0, 0, .8);">

        <ng-include src="'views/user/templates/albumitems.template.client.html'"></ng-include>


    </div>

    <!-- Profile Search Modal-->
    <div id="profileSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search Users/Artists</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/searchUser.view.client.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

    </nav>
</div>