<div class="col-sm-12" style="margin-bottom: 80px;">
    <div class="mymusic-shortcode-events" style="background: rgba(0, 0, 0, .7);">
        <div >
        <h2 class="ak-event-title" style="text-transform: uppercase;padding-top: 20px">
            Upcoming <span>Events</span>
        </h2>
        <p class="ak-ds">
            Get to know about all music events near your location. Grab your tickets now!
        </p>
            <p class="ak-ds">
                <span style="font-size: x-small"><a href="https://www.eventbrite.com/" target="_blank">Powered by Eventbrite</a></span>
            </p>
        </div>
        <hr size="30">
        <div class="mymusic-ak-event-content">
            <div ng-repeat="event in model.events | limitTo:3" class="mymusic-ak-list-event">
                <span class="entry-date">
                    {{event.start.local | date : "dd"}} <span class="month">{{event.start.local | date : "MMMM"}} </span>
                </span>
                <div >
                    <img  class="mymusic-thumbnail" ng-src="{{event.logo.original.url || '../../../resources/images/defaultEvent.jpg'}} ">
                </div>
                <div class="mymusic-shevent-content">
                    <h4><a target="_blank" ng-href="{{event.url}}">{{event.name.text}}</a></h4>
                    <div class="ak-meta">
														<span class="ak-date">
															<i class="fa fa-clock-o"></i>
															<span class="date-start dtstart">
																 {{event.start.local | date : "MMMM dd-h:mm a"}}
															</span>
															-
															<span class="date-end dtend">
																 {{event.end.local | date : "MMMM dd-h:mm a"}}
															</span>
														</span>
                                                        <!--<span class="ak-address">
															<i class="fa fa-map-marker"></i>
															Gramercy Park Hotel, NewYork
														</span>-->
                    </div>
                    <div class="ak-excerpt">
                        <p style="color: grey" ng-bind-html="event.description.text | excerpt:300">

                        <!--{{event.description.text}}-->
                        </p>
                    </div>
                </div>
            </div>


            <!!-- Button -->
            <div class="mymusic-view-event">
                <a href="#/events/upcomingEvents/{{model.userId}}">View all events</a>
            </div>

        </div>
    </div>
</div>